/NetBeans/program_10/nbproject/private/
/NetBeans/iopackage/nbproject/private/
/NetBeans/iopackage/build/
/NetBeans/MyAwtprj/target/
/iO/programs/loop/Task/FileProject/target/
/JDBC/firstAdd/nbproject/private/
/JDBC/firstAdd/build/
